.h1 {
    position: absolute;
    left: 150px;
    top: 230px;
    font-family: 'Heebo';
    font-weight: 1000;
    font-size: 50px;
    line-height: 60px;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
header .header {
    margin: 30px 70px 50px 50px;
    display: flex;
    justify-content: space-between;
}
header nav ul {
    display: flex;
    gap: 30px;
    font-size: 20px;
}
header nav ul li:hover {
    transform: scale(1.2);
    transition: all 0.3s;
}
p {
    position: absolute;
    width: 500px;
    left: 150px;
    top: 370px;
    font-family: 'Heebo';
}
.buton {
    position: absolute;
    width: 210px;
    height: 50px;
    left: 150px;
    top: 475px;
    background: #FF6464;
}
.resume {
    position: absolute;
    left: 170px;
    top: 485px;
    font-family: 'Heebo';
    font-size: 20px;
    color: #FFFFFF;
}

.metnler {
    position: absolute;
    width: 100%;
    height: 396px;
    left: 0;
    right: 100%;
    top: 595px;
    background: #EDF7FA;
}

.metn {
    position: absolute;
    width: 420px;
    height: 300px;
    left: 150px;
    top: 660px;
    font-family: 'Heebo';
    font-weight: 700;
    font-size: 30px;
    background-color: #FFFFFF;
    padding: 8px;
}

.metn2 {
    position: absolute;
    width: 420px;
    height: 300px;
    left: 600px;
    top: 660px;
    font-family: 'Heebo';
    font-weight: 700;
    font-size: 30px;
    background-color: #FFFFFF;
    padding: 8px;
}

.post {
    position: absolute;
    left: 150px;
    top: 600px;
    font-family: 'Heebo';
    font-size: 20px;
    line-height: 60px;
    color: #21243D;
}

.view {
    position: absolute;
    width: 200px;
    height: 20px;
    left: 800px;
    top: 620px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    text-align: right;
    color: #00A8CC;
}

.tarix1 {
    position: absolute;
    width: 370px;
    left: 170px;
    top: 790px;
    font-family: 'Heebo';
    font-size: 20px;
    color: #21243D;
}

.pattern {
    position: absolute;
    width: 240px;
    left: 330px;
    top: 790px;
    font-family: 'Heebo';
    font-size: 20px;
    color: #21243D;
}
.xet {
    position: absolute;
    left: 300px;
    top: 795px;
}
.text {
    position: absolute;
    width: 370px;
    left: 170px;
    top: 840px;
    font-family: 'Heebo';
    color: #21243D;
}
.tarix3 {
    position: absolute;
    width: 374px;
    left: 610px;
    top: 790px;
    font-family: 'Heebo';
    font-size: 20px;
    color: #21243D;
}
.figma {
    position: absolute;
    width: 240px;
    left: 770px;
    top: 790px;
    font-family: 'Heebo';
    font-size: 20px;
    color: #21243D;
}

.xet2 {
    position: absolute;
    left: 740px;
    top: 790px;
}

.text2 {
    position: absolute;
    width: 370px;
    left: 610px;
    top: 840px;
    font-family: 'Heebo';
    color: #21243D;
}
.tx {
    position: absolute;
    width: 152px;
    left: 148px;
    top: 1000px;
    font-family: 'Heebo';
    font-size: 22px;
    line-height: 60px;
    color: #21243D;
}
.sekil {
    position: absolute;
    width: 250px;
    left: 150px;
    top: 1070px;
    background: url(image.png);
}
.design {
    position: absolute;
    width: 310px;
    left: 420px;
    top: 1080px;
    font-family: 'Heebo';
    font-weight: 700;
    font-size: 30px;
    color: #21243D;
}
.mavi {
    position: absolute;
    left: 410px;
    top: 1140px;
    background: #142850;
    border-radius: 16px;
}
.il2020 {
    position: absolute;
    left: 420px;
    top: 1124px;
    font-family: 'Heebo';
    font-weight: 1000;
    font-size: 20px;
    line-height: 60px;
    color: #FFFFFF;
}
.dash {
    position: absolute;
    left: 500px;
    top: 1137px;
    font-family: 'Heebo';
    font-size: 20px;
    color: #8695A4;
}
.destex {
    position: absolute;
    width: 590px;
    left: 420px;
    top: 1190px;
    font-family: 'Heebo';
    font-size: 17px;
    color: #21243D;
}

.girl {
    position: absolute;
    left: 150px;
    top: 1310px;
}
.girltex {
    position: absolute;
    width: 340px;
    left: 420px;
    top: 1310px;
    font-family: 'Heebo';
    font-weight: 1000;
    font-size: 30px;
    color: #21243D;
}
.mavi2 {
    position: absolute;
    width: 60px;
    left: 410px;
    top: 1370px;
    background: #142850;
    border-radius: 17px;
}
.il2018 {
    position: absolute;
    left: 420px;
    top: 1353px;
    font-family: 'Heebo';
    font-weight: 900;
    font-size: 20px;
    line-height: 60px;
    color: #FFFFFF;
}
.illustration {
    position: absolute;
    left: 500px;
    top: 1370px;
    font-family: 'Heebo';
    font-size: 20px;
    color: #8695A4;
}
.iltex {
    position: absolute;
    width: 550px;
    left: 420px;
    top: 1420px;
    font-family: 'Heebo';
    font-size: 17px;
    line-height: 24px;
    color: #21243D;
}
.day {
    position: absolute;
    width: 250px;
    left: 150px;
    top: 1560px;
}
.daytex {
    position: absolute;
    width: 370px;
    left: 420px;
    top: 1560px;
    font-family: 'Heebo';
    font-weight: 800;
    font-size: 30px;
    color: #21243D;
}
.mavi3 {
    position: absolute;
    left: 410px;
    top: 1615px;
    background: #142850;
    border-radius: 20px;
}
.il18 {
    position: absolute;
    left: 420px;
    top: 1600px;
    font-family: 'Heebo';
    font-weight: 1000;
    font-size: 20px;
    line-height: 60px;
    color: #FFFFFF;
}
.typ {
    position: absolute;
    left: 500px;
    top: 1613px;
    font-family: 'Heebo';
    font-size: 20px;
    color: #8695A4;
}
.typtex {
    position: absolute;
    width: 510px;
    left: 420px;
    top: 1680px;
    font-family: 'Heebo';
    font-size: 17px;
    color: #21243D;
}
.ag {
    position: absolute;
    width: 96%;
    left: 100px;
    top: 1800px;
    font-family: 'Heebo';
}
.john{
    position: absolute;
    width: 250px;
    height: 250px;
    left: 750px;
    top: 210px;
}
@media screen and (max-width: 800px) {
    body {
        margin: 1em 2em;
    }
}